{% extends "internal-base.html" %}
{% load static from staticfiles %}

{% block js %}
<script src="{% static "/custom/js/general.js" %}"></script>
<script src="{% static "/custom/js/edit.js" %}"></script>
{% endblock %}

{% block upload_csv_sidetab_active %}class="active"{% endblock %}

{% block content_body %}
<div class="content-header"></div>
<div class="content body">
	<form method="post" action="/upload_csv/" enctype="multipart/form-data">
	    {% csrf_token %}
			{{ form.non_field_errors }}
	    <div class="row">
	    	<div class="col-xs-6">
			    <div class="form-group">
				    <label>{{ form.title.label_tag }}</label>
					<input id="id_title" maxlength="50" name="title" type="text" required=""  class="form-control">
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
				    <label>{{ form.file.label_tag }}</label>
					<input id="id_file" name="file" type="file" required="" class="form-control">
				</div>
			</div>
		</div>

	    <input class="btn btn-primary bottom-margin-20" type="submit" value="Submit" />
	</form>

	{% if invoice_items %}
	<hr>
	<h5>Unprocessed New Data</h5>
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Action</th>

					<th>Start Date</th>
					<th>End Date</th>
					<th>Product Class</th>
					<th>Revenue Type</th>

					<th>Invoice #</th>
					<th>Invoice Date</th>

					<th>Transaction</th>
					<th>Product Type</th>

					<th>Memo</th>
					<th>Customer</th>
					<th>Amount</th>
					<th>Rate</th>
					<th>Quantity</th>
				</tr>
			</thead>
			<tbody>
			{% for item in invoice_items %}
			<tr data-id="{{item.id}}">
				<td>
					<i class="btn-link cursor-pointer glyphicon glyphicon-pencil"></i>
					<i class="btn-link cursor-pointer glyphicon glyphicon-floppy-disk hidden"></i>
				</td>

				<td data-type="start_date" class="editable">
					<span class="td-label">{{item.start_date|date:"m/d/Y"}}</span>
					<input data-type="start_date" data-required type="date" class="td-input hidden" value="{{item.start_date|date:"Y-m-d"}}" placeholder="mm/dd/yyyy" />
				</td>
				<td data-type="end_date" class="editable">
					<span class="td-label">{{item.end_date|date:"m/d/Y"}}</span>
					<input data-type="end_date" data-required type="date" class="td-input hidden" value="{{item.end_date|date:"Y-m-d"}}" placeholder="mm/dd/yyyy" />
				</td>
				<td data-type="product_class" class="editable">
					<span class="td-label">{{item.product_class}}</span>
					<input data-type="product_class" class="td-input hidden" value="{{item.product_class}}" placeholder="Product Class" />
				</td>
				<td data-type="revenue_type" class="editable">
					<span class="td-label">{{item.revenue_type}}</span>
					<input data-type="revenue_type" class="td-input hidden" value="{{item.revenue_type}}" placeholder="Revenue Type" />
				</td>

				<td data-type="invoice_number">{{item.invoice_number}}</td>
				<td data-type="invoice_date">{{item.invoice_date}}</td>

				<td data-type="transaction_type">{{item.transaction_type}}</td>
				<td data-type="product_type">{{item.product_type}}</td>

				<td data-type="memo">{{item.memo}}</td>
				<td data-type="customer">{{item.customer.name}}</td>
				<td data-type="amount">{{item.amount.normalize}}</td>
				<td data-type="rate">{{item.rate.normalize}}</td>
				<td data-type="quantity">{{item.quantity.normalize}}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<hr>
	<button id="process-data" class="btn btn-primary">Process New Data</button> <!-- href="/process_data/"  -->
	{% endif %}

</div>
{% endblock %}
