{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
<header class="main-header">
	<a id="site-identifier" href="" class="logo" data-token="{{ csrf_token }}">
		<!-- Treatspace MRR -->
		<img src="{% static "/custom/icons/treatspace-logo-white.svg" %}" alt="treatspace-logo" class="logo" width="200" height="52">
	</a>
	<nav class="navbar navbar-static-top" role="navigation">
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<li class="dropdown user user-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img src="{% static "/custom/icons/dude.svg" %}" class="user-image" alt="User Image">
						<span class="hidden-xs">{{ request.user.username }}</span>
					</a>
					<ul class="dropdown-menu">
						<li class="user-header">
							<img src="{% static "/custom/icons/dude.svg" %}" class="img-circle" alt="User Image">
							<p>
							{% if request.user.first_name and requet.user.last_name %}{{ reguest.user.first_name }} {{request.user.last_name }}{% else %}{{ request.user.username }}{% endif %}
							<small>Last login was {{request.user.last_login}}</small>
							</p>
						</li>
						<li class="user-footer">
							<div class="pull-right">
								<a href="/logout/?next=/login" class="btn btn-default btn-flat">Sign out</a>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</header>
<div class="main-sidebar">
	<div class="sidebar">
		<ul class="sidebar-menu">
			<li class="header">MRR</li>
			<li {% block upload_csv_sidetab_active %}{% endblock %}><a href="/upload_csv"><span>Add New CSV</span></a></li>
			<li {% block bar_sidetab_active %}{% endblock %}><a href="/bar_analytics"><span>Bar Graphs</span></a></li>
			<li {% block scatter_sidetab_active %}{% endblock %}><a href="/scatter_analytics"><span>Scatter Graph</span></a></li>
			<li {% block accounts_sidetab_active %}{% endblock %}><a href="/accounts"><span>Accounts</span></a></li>
		</ul>
	</div>
</div>
<div class="content-wrapper">
	{% block content_body %}
	{% endblock %}
</div>
{% endblock %}

